<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      text-align: center;
      vertical-align: middle;
      margin-top: 25px;
      /* margin: auto; */
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    table {
      width: 50%;
      padding: 10px;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
  <title><%=title%></title>
</head>

<body>
  <h2>WANNA EAT: <%=title%> ?</h2>
  <table>
    <th>THE MENUS</th>
    <th>RESTO</th>
    <% data.forEach(el => { %>
    <tr>
      <td><%=el.makanan%></td>
      <td><%=el.Resto.namaResto%></td>
      <td><a
          href="/order/input?harga=<%=el.harga%>&MenuId=<%=el.id%>&RestoId=<%=el.RestoId%>&namaMakanan=<%=el.makanan%>"><button>ORDER!</button></a>
      </td>
    </tr>
    <% }) %>
  </table><br><br>

  <%- include ('./partials/nav.ejs')%>

</body>

</html>