<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" , rel="stylesheet" type="text/css">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <% if(data.length === 0) {%>
    <br>
    <h2>Oops..</h2>
    <h2>You are not ordered anything yet..</h2>
    <a href="/resto">Check our retos</a>

    <% } else { %>
    <table>
      <th>YOUR CHOICES</th>
      <th>HARGA</th>
      <th>ACTION</th>
      <% let x = 0 %>
      <% data.forEach(el => { %>
        <% x = x + el.harga %>
        <tr>
          <td><%=el.namaMakanan%></td>
          <td>Rp.<%=el.harga%></td>
          <td><a href="/order/<%=el.id%>/delete"><button>remove</button></a></td>
        </tr>
        <% }) %>
      </table>
      <form action="/order/complete" method="POST">
      <input type="email" name="email" placeholder="your email?">
      <%- include ('./partials/sendVia.ejs')%>

      
      <h2> TOTAL HARGA : Rp. <input type="number" name="total" value="<%=x%>" readonly> </h2>
      <button type="submit">COMPLETE ORDER</button>
      
      <p class="small_head">Your food is froms:</p>
  <table class="small_table">
    <tr>
      <% data.forEach(el => { %>
      <td><b><%=el.Resto.namaResto%></b></td>
    </tr>
    <% }) %>
  </table>
</form>
  <%- include ('./partials/nav.ejs')%>
  <% } %>

</body>

</html>