<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" , rel="stylesheet" type="text/css">
  <style>
    body {
      background-image: url('/img/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <table>
    <th>RESTO MENUS</th>
    <th>MENUS</th>
    <% data.forEach(el => { %>
    <tr>
      <td><%=el.namaResto%></td>
      <td><a href="/resto/<%=el.restoMenuId%>"><button>CHECK MENU!</button></a></td>
    </tr>
    <% }) %>
  </table><br><br>
  <%- include ('./partials/nav.ejs')%>

</body>

</html>